.container{
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.card{
    
    height: 20rem;
    width: 100%;
    border: 1px solid white;
    background: rgba(252, 252, 252, 0.35);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 1.5px );
    -webkit-backdrop-filter: blur( 1.5px );
    border-radius: 2rem;
    border: 5px solid rgb(0, 0, 0);
    margin: 3rem 3rem;
    padding: 2rem;
}