.grid{
    margin: 0px;
    display: grid;
    gap: 3.5rem;
    grid-template-columns: 20rem 20rem 20rem;
    justify-content: center;
    align-items: center;

}
.container{
    display: flex;
    flex-direction: column;




}
.searchWrapper{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1.5rem;
    margin-right: 3rem;
}
.inputStyle{
    background-color: transparent;
    border: 1px solid white;
    width: 12rem;
    height: 2rem;
    margin-top: 2rem;
    margin-right: 4rem;
    border-radius: 20px;
    color:gray;
    padding: 1rem;

}
.loader {
    display: inline-block;
    width: 80px;
    height: 80px;
    
  }
  .loader:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #C2B000;
    border-color: #C2B000 transparent #C2B000 transparent;
    animation: lds-dual-ring 2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

@media all and (max-width: 1090px){
  .grid{
    grid-template-columns: 25rem 25rem;

  }
  .inputStyle{
    width: 15rem;
  }
  .searchWrapper{
    margin-right: 1.5rem;


  }
}
@media all and (max-width: 960px){
  .searchWrapper{
    margin-right: 0rem;

  }
}

@media all and (max-width: 880px){
  .grid{
    grid-template-columns: 20rem 20rem;

  }
  .searchWrapper{
    margin-right: 2rem;
  }
}

@media all and (max-width: 780px){
  .grid{
    grid-template-columns: 30rem;

  }
  .searchWrapper{
    margin-right: 0rem;

    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .inputStyle{
    margin-right: 0rem;

    width: 80%;
  }
}
@media all and (max-width: 500px){
  .grid{
    grid-template-columns: 20rem;

  }
}