
.wrap {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


input{
    padding:0.4rem;
    width: 50%;
    border-radius: 0.2rem;
    border: 1px solid rgb(194, 176, 0, .5);
    color: #C2B000;
    margin-top: 1rem;
    height: 2.5rem;
    font-size: 14px;

}
input:focus{
    border: 1px solid rgb(194, 176, 0, 1);
    outline: #C2B000;
}



.cover {
    width: 70%;
    height: 80%;
    position: fixed;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}

img{
    height: 10rem !important;
    width: 10rem !important;
}

button{
    border: 1px solid rgb(194, 176, 0, 0.5);
    text-align: center;
    width:10rem;
    color: #C2B000;
    padding:0.2rem;
    border-radius: 0.2rem;
    font-size: 20px;
    margin-top: 1.5rem;
}


button:hover{
    background-color:  rgb(194, 176, 0, 1);
}
.error{
    margin-top: 1rem;
    color: red !important; 
}
label{
    font-size: 18px;
}

/* Podrzati ove dimenzije (320 x 568)  */

@media all and (max-width: 320px)
{  
    
    .cover{
        justify-content: space-around;
    }
    input{
        width: 100%;
        margin-top: 0px;
        font-size:12px;
        height: 2rem;
    }
    label{
        margin-top: 0px;

    }
    button{
        margin-top: 1.5rem;
        font-size: 12px;
        height: 1.5rem;
        width: 8rem;
    }
img{
    height: 8rem !important;
    width: 8rem !important;


}
.cover{
    width: 90%;
}
}
@media all and (max-width: 900px)
{

    input{
        width: 80%;
    }
}

@media all and (max-width: 1030px){
    input{
        width: 70%;
    }
}
