.form{
    padding: 2rem;
}

input{
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    padding:0.4rem;
    width: 100%;
    border-radius: 0.2rem;
    border: none;
    outline: none;

}
input:focus{
    outline: none
    !important;
}
.card{
    background: transparent;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 1rem;
    width: 60%;
    margin: auto;
    margin-top: 10rem;
}

button{
    border: none;
    width:10rem;
    padding:0.2rem;
    border-radius: 0.2rem;
    font-family: 'Courier New', Courier, monospace;

}
button:hover{
    background-color: #FFE81F;
}
.error{
    margin-top: 1rem;
    color: red !important; 
}